/* Final Page Specific Styling */
.styled-box {
  border-bottom: 0px solid rgb(229, 231, 235);
  border-left: 0px solid rgb(229, 231, 235);
  border-right: 0px solid rgb(229, 231, 235);
  border-top: 0px solid rgb(229, 231, 235);
  box-sizing: border-box;
  display: block;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 268px;
  line-height: 24px;
  text-size-adjust: 100%;
  unicode-bidi: isolate;
  width: 600px;
}
