/* Final Page Specific Styling */
.styled-box {
  border: none;
  box-sizing: border-box;
  display: block;
  font-family: 'Segoe UI', Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  height: 268px;
  line-height: 24px;
  text-size-adjust: 100%;
  unicode-bidi: isolate;
  width: 600px;
  background-color: #2c2c50;
  color: #b4b4ff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.6);
}

.styled-box h2 {
  font-size: 2.4rem;
  color: #fecd1a;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.8);
  text-align: center;
}

.styled-box p {
  font-size: 1.2rem;
  color: #b4b4ff;
  line-height: 1.5;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
  text-align: center;
}

/* Responsive Design */
@media only screen and (max-width: 600px) {
  .styled-box {
    width: 100%;
    padding: 15px;
  }

  .styled-box h2 {
    font-size: 2rem;
  }

  .styled-box p {
    font-size: 1rem;
  }
}
