/* Container for the question */
.day-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
}

/* Title Styling */
.day-question h2 {
  font-size: 2rem;
  color: #333333; /* Grey tone */
  margin-bottom: 20px;
}

/* Button Styling */
.day-question button {
  width: 150px;
  padding: 10px 20px;
  margin: 10px;
  background-color: #f5f5f5; /* Grey tone */
  border: 2px solid #999999; /* Grey tone */
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  color: #666666; /* Grey tone */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
}

.day-question button:hover {
  transform: scale(1.1);
  background-color: #ffffff; /* White */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
}

.day-question button:active {
  background-color: #666666; /* Grey tone */
  color: #ffffff; /* White */
  border-color: #333333; /* Grey tone */
  box-shadow: 0 4px 10px rgba(102, 102, 102, 0.5); /* Grey tone */
}

/* Responsive Design */
@media only screen and (max-width: 600px) {
  .day-question h2 {
    font-size: 1.6rem;
  }

  .day-question button {
    width: 130px;
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}
