

/* Container for the question */
.day-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px;
  border-radius: 15px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  color: #fff;
  margin-top: 20px;
  text-transform: uppercase;
}

.day-question strong {
  color: #debf54;
}

/* Title Styling */
.day-question h2 {
  font-size: 2.4rem;
  color: #fecd1a;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.8);
}

/* Button Styling */
.day-question button {
  width: 150px;
  padding: 10px 20px;
  margin: 10px;
  background-color: #2c2c50;
  border: 2px solid #fecd1a;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s, color 0.3s;
}

.day-question button:hover {
  transform: scale(1.1);
  background-color: #b4b4ff;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
  color: #fecd1a;
}

.day-question button:active {
  background-color: #fecd1a;
  color: #000;
  border-color: #ffffff;
  box-shadow: 0 5px 12px rgba(255, 255, 255, 0.6);
}

/* Container for the time form */
.time-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px;
  border-radius: 15px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  color: #fff;
  margin-top: 20px;
  text-transform: uppercase;
  overflow: hidden;
}

/* Title Styling */
.time-container h2 {
  font-size: 2.4rem;
  color: #fecd1a;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.8);
}

/* Subtitle Styling */
.time-container p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fecd1a;
  text-transform: uppercase;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.8);
}

/* Time Selectors Layout */
.time-selectors {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.dropdown-wrapper {
  width: auto; /* Ajusta automaticamente ao conteúdo */
  min-width: 100px; /* Define um tamanho mínimo para evitar compressão */
  padding-right: 10px; 
}

.dropdown {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  font-size: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  appearance: none;
  text-align: center;
  cursor: pointer;
  color: #fecd1a;
}

.dropdown-scrollable {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #fecd1a;
  margin: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #2c2c50;
  appearance: none;
  text-align: center;
  cursor: pointer;
  color: #fecd1a;
}

.dropdown option {
  text-align: center;
  padding: 5px;
}

.dropdown::-webkit-scrollbar {
  width: 6px;
}

.dropdown::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.dropdown::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.dropdown-scrollable:hover {
  z-index: 10;
}

.number-container {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}